/*------------------------------BANNER---------------------------------*/

@import url("https:/fonts.google.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border: 4px solid rgb(27, 27, 27);
  box-shadow: inset 0 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #384e81, #1f2a46);
  border-radius: 3px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
}

body {
  background: rgb(27, 27, 27);
  min-height: 320vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

header.sticky {
  padding: 5px 100px;
  background: #fff;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a:hover {
  color: rgb(27, 27, 27);
  text-decoration: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("https://sun9-45.userapi.com/DnVkNOZgRb-3kEf_2yxtQ_YYh53bYXYaiB1sFg/E76e0wr9NOA.jpg");
  background-size: cover;
}

header.sticky .logo,
header.sticky ul li a {
  color: rgb(27, 27, 27);
}

/*------------------------------Information---------------------------------*/

.main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.undertext {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  color: #777;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  font-family: "Popins", sans-serif;
}

.container {
  position: relative;
  width: 900px;
  display: flex;
  justify-content: space-around;
}

.container .card {
  position: relative;
  width: 250px;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.container .card:hover {
  transform: translate(-10);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.5);
}

.container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
  pointer-events: none;
}

.persent {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1;
}
.persent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.persent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.card:hover .persent .number h2 {
  color: #fff;
}

.persent .number h2 span {
  font-size: 24px;
  color: #777;
  transition: 0.5s;
}

.card:hover .persent .number h2 span {
  color: #fff;
}

.text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}
.card:hover .text {
  color: #fff;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: 347;
  stroke: #1f2a46;
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: 233;
  stroke: #2c3d65;
}

.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: 162;
  stroke: #384e81;
}

/*------------------------------Settings---------------------------------*/

.second {
  margin: 0px;
  padding: 70px;
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  background: rgb(255, 255, 255);
}

.botton {
  position: relative;
  display: inline-block;

  margin-left: 50px;

  transition: 0.4s;
}

.title-botton {
  color: #252525;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;

  transition: 0.2s;
  font-family: "Popins", sans-serif;
}

.botton:hover {
  color: #255784;
  background: #384e81;
  box-shadow: 0 0 10px#384e81, 0 0 40px #384e81, 0 0 60px #384e81;
  border-radius: 30px;
}

.white:hover {
  transition: 0.2s;
  filter: invert(1);
}
.white {
  transition: 0.4s;
}

/*------------------------------Footer---------------------------------*/

footer {
  background: #c2c2c2;
  padding: 0;
  margin: 0;
  height: 20vh;
}

.footer-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.logo-icon {
  width: 100px;
  position: absolute;
  right: 20px;
}

.social-media {
  margin: 20px 0;
}

.social-media a {
  color: rgb(27, 27, 27);
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s linear;
}

.social-media a:hover {
  color: #255784;
}
